
body {
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
h2 {
    text-align:center;
    font-family:'Palatino Linotype';
    font-weight:bold;

}
input[type=Text], input[type=password] {
width:80%;
height:80%;
padding:5px; 
border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
margin:auto;
}

input[type=text]:focus,input[type=password]:focus {
    border-radius:5px;
}
P {
    font-family:'Palatino Linotype';
    font-weight:bold;
    font-size:small;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
a {
    text-decoration:none;
}
